  /*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;
  --font-semi: 600;
}

/*===== Colors =====*/
body{
  --first-color: #8e24aa;
  --second-color: #1e88e5;
  --third-color: #ba68c8;
  --fourth-color: #d81b60;
  background-color: #cfd8dc;
}

#particles-js{
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #8ebdd3;
}

#particles-js2{
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #eceff1;
}

#particles-js3{
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #e4e9ec;
}

#particles-js4{
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #eeeeee;
}

/*===== Typography Fonts =====*/
:root{
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}
@media screen and (min-width: 768px){
  :root{
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

/*===== Margins =====*/
:root{
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/*===== Z-index =====*/
:root{
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}
h1,h2,p{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
.section-title{
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}
.section-title::after{
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}
.section{
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== LAYOUT =====*/
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #cfd8dc;
  box-shadow: 0 1px 4px rgba(146,161,176,.15);
}

.bg-idle{
  width: auto;
  height: auto;
}

.bg-idle3{
  width: auto;
  height: auto;
  top: 20%;
}


body, html { 
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: scroll;
  margin: 0;
  padding: 0;
}

.skill-set-boundary {
	width: 100px;
	height: 150px;
	position: absolute;
  top: 50%;
  transform:translateY(-50%);
  left: 0;
  right: 15%;
  margin: 0 auto;
}
.borders {
	display: block;
	position: absolute;
}
.top-border, .right-border {
	top: 0;
}
.right-border {
	right: 0;
}
.bottom-border {
	right: 0;
	bottom: 0;
}
.left-border {
	left: 0;
	bottom: 0;
}
.top-border, .bottom-border  {
	/*width: 300px;*/
	height: 4px;
}
.right-border, .left-border {
	width: 4px;
	/*height: 150px;*/
}
.skill-set-container {
	display: block;
	max-width: 100px;
  border: 1px solid #000;
}

.skill-set-boundary2 {
	width: 100px;
	height: 150px;
	position: absolute;
  top: 50%;
  transform:translateY(-50%);
  left: 15%;
  right: 0;
  margin: 0 auto;
}
.borders2 {
	display: block;
	position: absolute;
}
.top-border2, .right-border2 {
	top: 0;
}
.right-border2 {
	right: 0;
}
.bottom-border2 {
	right: 0;
	bottom: 0;
}
.left-border2 {
	left: 0;
	bottom: 0;
}
.top-border2, .bottom-border2  {
	/*width: 300px;*/
	height: 4px;
}
.right-border2, .left-border2 {
	width: 4px;
	/*height: 150px;*/
}
.skill-set-container2 {
	display: block;
	max-width: 100px;
  border: 1px solid #000;
}

.entryL {
	color: #E34C26;
	font-size: 5em;
	text-align: center;
	line-height: 150px;
}
.entryR {
	color: #E34C26;
	font-size: 5em;
	text-align: center;
	line-height: 150px;
}

.entryText {
	color: #E34C26;
	font-size: 1.15em;
  position: absolute;
  width: 100%;
  right: 3%;
  left: 0%;
  top: 32%;
}

.entryText2 {
	color: #E34C26;
	font-size: 1.15em;
  position: absolute;
  width: 100%;
  top: 32%;
  right: 0.4%;
}
/*===== HOME =====*/
.home{
  height: calc(100vh - 3rem);
  row-gap: 1rem;
}
.home__data{
  align-self: center;
  position: fixed;
  top: 32%;
  left: 15%;
}

.home__data2{
  align-self: center;
}

.home__data3{
  align-self: center;
  position: fixed;
  top: 70%;
  left: 43.4%;
}

.home__data4{
  align-self: center;
  position: fixed;
  top: 75%;
  left: 43.5%;
}

.home__title{
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
}
.home__title-color{
  color: var(--first-color);
}
.bg-idle__title2{
  font-size: var(--big-font-size);
  position: absolute;
  margin: auto;
  width: 100%;
  bottom: 50%;
}
.bg-idle__title3{
  font-size: var(--big-font-size);
  position: fixed;
  width: 100%;
  top: 40%;
}
.bg-idle__title4{
  font-size: var(--big-font-size);
  position: absolute;
  margin: auto;
  width: 100%;
  bottom: 70%;
}

.bg-idle__title5{
  font-size: var(--h2-font-size);
  position: relative;
  width: 100%;
  top: 15.5%;
  left: 39%;
}

.bg-idle__title6{
  font-size: var(--h2-font-size);
  position: relative;
  width: 100%;
  top: 32.5%;
  left: 55.2%;
}

.bg-idle__title7{
  font-size: var(--big-font-size);
  position: absolute;
  margin: auto;
  width: 100%;
  bottom: 65%;
  top: 45%;
}

.bg-idle__title8{
  font-size: var(--normal-font-size);
  position: absolute;
  margin: auto;
  width: 100%;
  bottom: 65%;
  left: 49.5%;
  top: 75%;
}

.bg-idle__title2-color{
  color: var(--first-color);
}
.bg-idle__title4-color{
  color: var(--third-color);
}
.bg-idle__title7-color{
  color: var(--fourth-color);
}
.home__social{
  display: flex;
  flex-direction: column;
}
.home__social-icon{
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--second-color);
}
.home__social-icon:hover{
  color: var(--first-color);
}
.home__img{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 195px;
}

/*BUTTONS*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: .5rem;
}
.button:hover{
  box-shadow: 0 10px 36px rgba(0,0,0,.15);
}

/* ===== FOOTER =====*/
.footer{
  background-color: var(--second-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}
.footer__title{
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}
.footer__social{
  margin-bottom: var(--mb-4);
}
.footer__icon{
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2)
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){
  body{
    margin: 0;
  }
  .section{
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title{
    margin-bottom: var(--mb-6);
  }
  .section-title::after{
    width: 80px;
    top: 3rem;
  }

  .home{
    height: 80vh;
  }
  .home__data{
    align-self: flex-end;
  }
  .home__social{
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home__social-icon{
    margin-bottom: 30%;
    margin-right: var(--mb-4);
  }
  .home__img{
    width: 475px;
    bottom: 19%;
    left: 60%;
  }

  .home__img2{
    width: 100px;
    height: 100%;
    top: 42.5%;
    left: 42.5%;
  }
}

@media screen and (min-width: 1024px){
  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }
  .home__img{
    right: 10%;
  }
}

.nostyle{
  border: none;
  padding: 0;
  background: none;
}